
.navbar-default .navbar-brand {
    color: #d6d6d6;
}

.navbar-default .collapse li a {
    color: white;
}

.navbar-default .collapse .dropdown-menu li a{
	color: black;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    font-size: 250%;
}

.navbar {
    background-color: #565656;
}
.site-footer{
	background-color: brown;
}

.navbar {
   margin-bottom: 0px;
   margin: auto 0;
}

footer {
  /*position: absolute;*/
    bottom: 0;
    width: 100%;
  background-color: #efefef;
  text-align: center;
}

.img-slide-home {
	width: 100%;
}

.nav-sesion {
	background-color: #76685d;
	color: white;
}

.nav-sesion a{
	color: white;
	padding: 5px;
	text-align: right;
}

.jumbotron h4 {
	border-bottom: black 1px solid;
    width: 19%;
    margin: auto;
    margin-bottom: 20px;
}

.jumbotron {
	margin: 0;
	padding: 0;
}