
/*INDEX.PHP*/


/*Para todo el body*/
body {
  font-family: 'Raleway', sans-serif;
  background-image: url('../images/Fondos/background2.jpg');
  height: 100%; 
  background-attachment: fixed;
}

.wrapper{
  background-color: white;
}

  /*Inicio y registro top right*/


.nav-sesion a {
  color: white;
  padding: 7px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin:20px 0px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #777 !important;
    border-color: #333 !important;
}


/*Header*/

.navbar-form .navbar-left .form-group .form-control{
  text-align: center;
}

}
.navbar-default .navbar-brand {
    color: #d6d6d6;
}

.navbar-default .collapse li a {
    color: white;
}

.navbar-default .collapse .dropdown-menu li a{
  color: black;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    font-size: 250%;
}

.navbar {
    background-color: #565656;
}
.site-footer{
  background-color: brown;
}

.navbar {
   margin-bottom: 0px;
   margin: auto 0;
}

.categorias-h3{
  text-align: center;
  background-color: grey;
  color: white;
  margin: 0px;
  padding: 10px 0px;
  font-size: 16px;  
}


.img-slide-home {
  width: 100%;
  margin-bottom: 20px;
}

.nav-sesion {
  background-color: #967760;
  color: white;
}



/*Main*/

#productosDestacados{
    font-size: 18px;
    border-bottom: 1px solid grey;
    width: 10%;
    text-align: center;
    margin: auto;
    margin-top: 22px;
    margin-bottom: 10px;
}

#categoria-imagen{
  margin-top: 30px;
}

.prd-img{
  border:none;
}


.logo-sesion{
  height: 40px;
  margin: 5px;

}

.logo-nav{
  height: 40px;
  margin: -10px;
}


.section-form{
  margin: auto;
  margin-top: 10px;
}

.section-form-submit{
  width: 20%;
  color: black;
}

legend {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  color: #ffffff;
  width: 40%;
}

.short_explanation {
  font-size: 10px;
  color: white;
}

label{
  font-weight: 400;
  color: white;
}


.form-sesion {
  background-color: black;
}

.center-block {  
  display: block;  
  margin-right: auto;  
  margin-left: auto;  
}

.div-background-fullpage {
  width: 692px;
  margin: 32px auto;
}

.container {
  width: 100%;
}



/*Footer*/

footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  background-color: #efefef;
  text-align: center;
  padding: 20px 0px;
}

footer a{
  color: grey;
}

footer label{
  color: grey;
}

.glyphicon{
  color: darkgrey;
  margin-right: 5px;
}

.preguntas-frecuentes{
  margin: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.preguntas-frecuentes h3{
  text-align: center;
  border-bottom: black solid 1px;
}

#exampleInputEmail1{
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
}




/*PREGUNTAS FRECUENTES*/

.preguntas{
  font-size: 18px;
  color: brown;
}

.preguntas-frecuentes{
  margin: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.preguntas-frecuentes h3{
  text-align: center;
  border-bottom: black solid 1px;
}



/*REGISTRO*/

.registration {
  background-color: #967760;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  border: 3px solid white;
  padding: 15px;
  color: white;
}



/*LOGIN*/




/*PERFIL*/

/* For mobile phones: */

@media only screen and (max-width: 768px ) {
    /* For tablets: */


@media only screen and (max-width: 480px){
    /* For phones in landscape: */

.jumbotron h4 {
    width: 50%;
    background-color: white; 
    text-align: center;
}

@media only screen and (max-width: 320px) {
    /* For phones in portrait: */
.navbar-default .collapse li a {
    text-align: center;
}

.jumbotron h4 {
    width: 100%;
    background-color: white; 
    text-align: center;
}

#change-a-color{
    color: white;
}

.mb-4{
  margin-top: 40px;
}

//ASDASD