.navbar-default .navbar-brand {
    color: #d6d6d6;
}

.navbar-default .collapse li a {
    color: white;
}

.navbar-default .collapse .dropdown-menu li a{
	color: black;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    font-size: 250%;
}

.site-footer{
	background-color: brown;
}